.skills-section {
    padding: 50px 0;
    background-color: #000;
    color:white; 
  }
  
  .skills-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    color: #f5c02e;


  }
  
  .skills-subtitle {
    text-align: center;
    font-size: 14px;
    color: #f5c02e;
    margin-bottom: 40px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .skill-bar {
    width: 100%;
  }
  
  .skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-fill {
    background-color: #f5c02e; /* Yellow color for the progress */
    height: 10px;
    width: 0; /* Dynamically filled based on percentage */
    transition: width 0.5s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .skills-grid {
      grid-template-columns: 1fr;
    }
  
    .skills-title {
      font-size: 28px;
    }
  
    .skill-info {
      font-size: 14px;
    }
  }
  